In [ ]:
n=10
r=5
p=100

A=p*(1+r/100)**n
print(f"{A:.2f}")


# b

162.89

In [ ]:
A=10
B=20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(A,B))

# a

There are 10 students in the class, with 20 who play at least one sport.

In [1]:
print(" It goes without saying, \“Time is Money\”, and none can deny it.")

# a

 It goes without saying, \“Time is Money\”, and none can deny it.

In [ ]:
x = lambda a,b: a//b
print(x(10,3))

# b

3

In [ ]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

# c

Greater

In [ ]:
import os
import numpy as np
my_list1=[2,7,3,5,4,6]
print(my_list1)
arr_1=np.array(my_list1,dtype =int)
print(arr_1)

# a

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

In [ ]:
string="Machine Learning"
# string[slice(8,13)]
string[slice(8,13,1)]

# d

'Learn'

In [ ]:
l=[]
for i in range(10,26,4):
    l.append(i)
print(l)


# b

[10, 14, 18, 22]

In [ ]:
if 18 in l:
    print(l.index(18))

# b

2

In [ ]:
num1=5**4
num2=pow(5,4)
print(num1,num2)

if num1==num2:
    print("Both are equal")

# a

625 625
Both are equal

In [ ]:
# Trying to access a variable which has not been defined

print(a)

#a

NameError: name 'a' is not defined

In [ ]:
x="string"
int(x)

# c

ValueError: invalid literal for int() with base 10: 'string'

In [ ]:
#  b  -- A file or directory is requested but does not exist in the working directory

In [ ]:
z=  "ID-5632"
print(type(z))

# b  - string

<class 'str'>

In [ ]:
#  d  - All of the above

In [ ]:
# Choose the symbol/s that does not have the ability to convert any values to string?
# answer: #

In [13]:
Country={"India":"New Delhi","china":"Beijing","Japan":"Tokyo","Qatar":"Doha","France":"Marseilles"}
for country,capital in Country.items():
    print(f"The capital of {country} is {capital}")

The capital of India is New Delhi
The capital of china is Beijing
The capital of Japan is Tokyo
The capital of Qatar is Doha
The capital of France is Marseilles

In [11]:
Country["France"]="Paris"
print(Country)

{'India': 'New Delhi', 'china': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [ ]:
Country={"India":"New Delhi","china":"Beijing","Japan":"Tokyo","Qatar":"Doha","France":"Marseilles"}
for country,capital in Country.items():
    print(f"The capital of {country} is {capital}")

Country.update({'France': 'Paris'})
for country, capital in Country.items():
    print(f"The capital of {country} is {capital}")

The capital of India is New Delhi
The capital of china is Beijing
The capital of Japan is Tokyo
The capital of Qatar is Doha
The capital of France is Marseilles
The capital of India is New Delhi
The capital of china is Beijing
The capital of Japan is Tokyo
The capital of Qatar is Doha
The capital of France is Paris

In [51]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)


tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

In [ ]:
S={1,2,3,4,4,4,5,6}
print(len(S))

# ans: 6

6

In [4]:
def triplets(N):
    for a in range(1,N+1):
        for b in range(a,N+1):
            for c in range(b,N+1):
                if a**2 + b**2 == c**2:
                    print(a,b,c)
triplets(10)

3 4 5
6 8 10