<a href="https://colab.research.google.com/github/HarshaPriya03/PythonLearning/blob/main/basicshandson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON BASICS**

Ques 1- Check if a number is divisible by both 3 and 5 using conditional statements

In [ ]:
# 8 :15 p.m
n = int(input('enter the number: '))
if (n%3==0 and n%5==0):
  print('divisble by both')
else:
  print('not divisible by both')

enter the number: 15
divisble by both

Ques 2- Check whether a number is single digit , double digit or more

In [ ]:
# 8 :25 p.m
num = int(input())
if (-9<=num<=9):
  print('single digit number')
elif (-99<=num<=99):
  print('double digit number')
else:
  print('other digits')

123
other digits

Ques 3- Take a number as input and print the multiplication table of number using for loop

In [ ]:
# 8 : 35 p.m
n = int(input('enter the number'))
print('MULTIPLICATION TABLE OF ',n)
for i in range(1,11):
  print(n*i)

enter the number7
MULTIPLICATION TABLE OF  7
7
14
21
28
35
42
49
56
63
70

In [ ]:
num = int(input("enter the number"))
print(type(num))
for i in range (1,11):
  print(num*i)

enter the number9
<class 'int'>
9
18
27
36
45
54
63
72
81
90

Ques 4 - Using conditional statement , check whether a number is prime or not

In [ ]:
# 8 : 54 p.m
a = int(input("enter the number-"))
if(a<=1):
  print('wrong number ')
else:
  for i in range(2,a):
    if(a%i==0):
      print('not a prime number')
      break
  else:
    print('prime number spotted')

enter the number-8
not a prime number

Ques 5- Write a function that returns the factorial of a number-

In [ ]:
# Multiplying the number by all whole numbers smaller that it , till 1
# ex - 7! = 7 * 6 * 5 * 4 * 3  * 2 * 1

In [ ]:
# 9 : 16 p.m
def factorial(n):
  a = 1
  for i in range(1,n+1):
    a = a*i
  print(a)

b = int(input('enter number -'))
factorial(b)

enter number -4
24

Ques 6-  Use loop and print the right angle triangle with star pattern , take n value as 4

In [ ]:
# 9 :30 p.m
n = int(input("enter the number - "))  # number of rows
for i in range(1,n+1):  # loop control the rows
  for j in range(i):  # control the stard in each rows
    print('*',end=' ')
  print()
# end = '' -> it will keeps stars on the same line
# print() = moves to the next line

enter the number - 4
*
* *
* * *
* * * *

In [ ]:
rows = 5
for i in range(1, rows + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

Ques 7- Check whether a number is an armstrong number

In [ ]:
# An armstrong number is a number where the sum of each digit raised to the power of total digits is equal to the original number

In [ ]:
# ex - 153
# total digit = 3
# digits = 1             5           3
#       (1)^3 + (5)^3 + (3)^3
#         1+ 125 + 27 => 153
# original number = 153

In [ ]:
# 10 : 25 p.m
num = int(input('enter the number-'))
temp = num
digits = len(str(num))
sum = 0

# each digit raise to the power of total digit
while temp>0:
  last = temp % 10  # extract the last digit of the number
  sum = sum + (last**digits)
  temp = temp//10       # remove the last digit


if num == sum:
  print("armstrong number")
else:
  print("not an armstrong number")

enter the number-153
armstrong number

Ques 8 - Create a list with 5 values which include duplicates as well, once list is created:

(a) - print the list

(b) - remove duplicate element from the list and again print it

In [ ]:
# 10:45 p.m
l1 = ['a','b','x','a','a']
print("list-",l1)

# remove the duplicate elements from the list
s = set(l1)
print(s)
l1 = list(s)
print(l1)

list- ['a', 'b', 'x', 'a', 'a']
{'b', 'a', 'x'}
['b', 'a', 'x']

In [ ]:
l1 = ['a','b','x','a','a']
# empty list -
l2 = []

for i in l1:
  if i not in l2:
    l2.append(i)

print(l2)

['a', 'b', 'x']

Ques 9- Create a tuple with different numbers, count how many even and odd numbers are present in it.

In [ ]:
# 10 : 58 p.m
t = (10,21,22,13,33,29,30,40)
ecount = 0
ocount = 0

for i in t:
  if i%2==0:
    ecount+=1
  else:
    ocount +=1

print("Even count-",ecount)
print("odd count-",ocount)

Even count- 4
odd count- 4