**PROGRAMMING LANGUAGE??**

- It is a medium to communicate or interact with machines(your system)

- we have different types of programming languages-> (ex - C , C++ , Java , Python ,R , ruby,etc)

- **Syntax-** rule or a way to write any programming language

- **Keywords-** pre-defined or pre-reserved words which is already having some special meaning or some task to perform. (ex - if ,else , for ,wile,etc)

- **Comments-** non-executable part of a code (these are just used to add some usefull notes or some additional information)

**how to write a comment?**

- using # symbol

# **WHAT IS PYTHON and WHY PYTHON???**

Python is a **high level programming language** (designed in such a way that it is easy to read and understand) which is used in many fields such as Data Science , Cloud infrastructure , cyber security , web development.

- It was developed by -> **Guido Van Rossum** in **1991**

- Why name Python??

- It came from the name of a show - **"Monty Python's Flying Circus"**

In [ ]:
# FEATURES OF PYTHON
# 1- It's syntax is easy - (somewhere it's syntax is similar to english language only)
# 2- It is an free and open source language
# 3- It is an interpreter language - (line by line execution)
# 4- It is a case - sensitive language (upper case and lower case are treated differently)
# 5- It is simple (easy to learn and understand)
# 6- It has various in-built-libraries in it - (numpy , pandas , seaborn , matplotlib)
# 7- It is a cross platform language

In [ ]:
# first program in python-
# display or print anything in python-
print('hello world')
print("hello")

hello world
hello

In [ ]:
# interpreter and case -sensitive -
print(9)
print("python class")
print("first class")
Print('hello everyone')  # case -sensitive and interpreter
print(10)

9
python class
first class

NameError: name 'Print' is not defined

**VARIABLES-**

- A name to which we assign or give some values. They act as a placeholder which holds some value.

**Rules for writing a variable name-**

1- a variable name can't start with a digit/number

In [ ]:
# variable_name = value/data
9abc = 'hello'
print(9abc)

SyntaxError: invalid decimal literal (ipython-input-1352046054.py, line 2)

2- a variable name can be alphanumeric (alphabets+ numbers)

In [ ]:
abc9 = 'hello'
print(abc9)

hello

3- a variable name can start with alphabet(small or capital) or underscore

In [ ]:
score = 99
print(score)

99

In [ ]:
a = 'first class'
print(a)

first class

In [ ]:
a1 = 'python batch started'
print(a1)

python batch started

In [ ]:
_a1 = 67
print(_a1)

67

4- a variable name can't have any special character or symbol (@,#,$,%,^,&,*,-) except underscore

In [ ]:
a$b = 'how are you?'
print(a$b)

SyntaxError: invalid syntax (ipython-input-879553042.py, line 1)

In [ ]:
a_b = 'how are you?'
print(a_b)

how are you?

5- a variable name can't have space between them

In [ ]:
ab c = 101
print(ab c)

SyntaxError: invalid syntax (ipython-input-2702442092.py, line 1)

6- a variable name can't be a keyword

In [ ]:
if = 'hello'
print(if)

SyntaxError: invalid syntax (ipython-input-3026592947.py, line 1)

In [ ]:
num1 = 90 # maths marks
num2 = 78  # science marks
# print both the variables in a single line
print(num1,num2)

90 78

In [ ]:
print('maths marks -',num1)
print('science marks -',num2)

maths marks - 90
science marks - 78

In [ ]:
print('maths marks-',num1,',','science marks-',num2)

maths marks- 90 , science marks- 78

In [ ]:
# create a variable which will have data as name , and another variable age
# print both the variable in a single line
# print both the variable with some message or information also
# 10:26 p.m
n1 = 'khushi'
age = 24
print(n1,age)
print("name is -",n1)
print("Age is-",age)

khushi 24
name is - khushi
Age is- 24

In [ ]:
# HOW TO TAKE USER INPUT??
# datatype(input())
x = input()
print("value of x is -",x)

hiiii
value of x is - hiiii

In [ ]:
num1 = input("enter a number-")
print('num is -',num1)

enter a number-9
num is - 9

**DATA TYPES-** tells us the type of data a varible is holding

- how to check = type()

**what are the data types which are available in python-**

1- Numeric Data - every data related to numbers

(ex - 3,4,5,6,-9,-90,8.8,9.8,-7.5)

 - Integer = whole numbers/ numbers which are not in the form of decimal . ex - 6,7,8,100,-200,890

 - it will return the datatype -> **int**

In [ ]:
a1 = 100
print(a1)
print(type(a1))

100
<class 'int'>

In [ ]:
a2 = -25
print(type(a2))

<class 'int'>

 - Float = any positive or negative decimal value

 - it will return the data type -> **float**

In [ ]:
x1 = 9.999
print(type(x1))

<class 'float'>

In [ ]:
x2 = -4.8
print(type(x2))

<class 'float'>

- complex = any number which is written in the form of a+bj

- it will give the data type -> **complex**

In [ ]:
n = 5+2j
print(type(n))

<class 'complex'>

In [ ]:
x = 2+2j
print(type(x))

<class 'complex'>

2- Text Data - **Strings** - sequence of characters which is enclosed in single , double or triple quotes.

- it will give the data type -> **str**

In [ ]:
s1 = 'hello, how are you'
print(s1)
print(type(s1))

hello, how are you
<class 'str'>

In [ ]:
s2 = '1234'
print(type(s2))

<class 'str'>

In [ ]:
s3 = '9.95'
print(type(s3))

<class 'str'>

In [ ]:
s4 = 19
print(type(s4))

<class 'int'>

3- Boolean Data - It has two values - True and False

- it will give the data type -> **bool**

In [ ]:
x = True
print(type(x))

<class 'bool'>

In [ ]:
y = False
print(type(y))

<class 'bool'>

In [ ]:
x = 8
y = x>2
print(type(y))

<class 'bool'>

**TYPE -CASTING-** changing the data type of one variable to another

- ex -> a = 9.7 ---> float

**i want to change the data type of above variable to int**

- variable_name = datatype(variable)

- a1 = int(a)   ---> int

- int() , str(), float() , complex() , list() , tuple(), set() , dict()

In [ ]:
a1 = 9.89
print(type(a1))

<class 'float'>

In [ ]:
# convert this float to int
a2 = int(a1)
print(a2)
print(type(a2))

9
<class 'int'>

In [ ]:
a1 = input("enter a number-")
print(a1)
print(type(a1))     # by default user input will consider every input as str

enter a number-77
77
<class 'str'>

In [ ]:
a2 = int(input('enter number-'))
print(a2)
print(type(a2))

enter number-77
77
<class 'int'>

**OPERATORS**

- Symbols which are used to perform some task or some operations

1- Arithmetic Operators

2- Comparison Operators

3- Logical Operators

4- Assignment Operators

5- Membership Operators

6- Identity Operators

**1- Arithmetic Operators-** mathematical calculation -- add , subtract , multiply , divide ,exponential , floor division , modulous

In [ ]:
# addition
a1 = 90
a2 = 190
print("addition-",a1+a2)

addition- 280

In [ ]:
# subtraction
print("subtraction",a1-a2)

subtraction -100

In [ ]:
# multiplication
print("multiplicaion-",a1*a2)

multiplicaion- 17100

In [ ]:
# division
print("division-",a1/a2)

division- 0.47368421052631576

In [ ]:
# floor division -> symbol = //
# floor division always result in the integer/whole number
x = 23
y = 2
ans1 = 23//2
print(type(ans1))
print("division-",x/y)
print("floor division-",x//y)

<class 'int'>
division- 11.5
floor division- 11

In [ ]:
x1 = 23.5
x2 = 2.5
ans = x1//x2
print(x1//x2)
print(type(ans))
print(x1/x2)

9.0
<class 'float'>
9.4

In [ ]:
y1 = 12.5
y2 = 2
res = y1//y2
print(type(res))
print(y1//y2)
print(y1/y2)

<class 'float'>
6.0
6.25

In [ ]:
# if operand is in float in case of floor division then result will be a float only

In [ ]:
# modulous operator -> symbol = % -> return the remainder value
a=75
b=4
print("remainder -",a%b)

remainder - 3

In [ ]:
# exponential operator -> symbol = ** -> return the exponential value of a number
a=10
b =3
print("exponential-",a**b)

exponential- 1000

In [ ]:
a= 5
b = 2
print("exponential- ",a**b)

exponential-  25

**2- Comparison Operators**

- used to compare some values

- equals to(==) , less than(<) , greater than(>) , greater than equals to(>=) , less than equals to(<=) , not equals to(!=)

- output will be a boolean value  - **True** or **False**

In [ ]:
i = 57
j = 109
print(i==j)

False

In [ ]:
# not equals to
print(i!=j)

True

In [ ]:
print(i>j)
print(i<j)
print(i>=j)
print(i<=j)

False
True
False
True

**3- Assignment Operators**

used to assign or give some value

In [ ]:
x1 = 'amol'
print(x1)

amol

In [ ]:
x1 = 10
x1 += 20  # x1 = x1 +20
print(x1)

30

In [ ]:
x1 = 5
x1 -=2   # x1 = x1-2
print(x1)

3

**4- Logical Operators**

- used to combine multiple conditions or statements

- output will be boolean value - **True** or **False**

- **and** , **or**,**not**

In [ ]:
# and -> both statements are true -> true otherwise false

![image.png]()

In [ ]:
# or -> it will return true if atleast one statement is true , if both are false then false

![image.png]()

In [ ]:
# not -> reverse the result
# result --------> true --> not(true)----> false
# result --------> false --> not(false)----> true

In [ ]:
num1 = 800
num2 = 650
print((num1>550) and (num2<num1))

True

In [ ]:
print((2<5) and (5<3))

False

In [ ]:
print((2<5) or (5<3))

True

In [ ]:
print(not(2<5))

False

**5- Membership Operators**

- tells us whether a value is a part or a member of a particular list or not

- output will be a boolean value - **True** or **False**

- two types - **in** , **not in**

In [ ]:
name = 'swati'
print('y' in name)

False

In [ ]:
print('y' not in name)

True

In [ ]:
print('i' in name)
print('i' not in name)

True
False

**6- Identity Operators**

- checks whether the values shares the same memory address or same location

- output will be - **True** or **False**

- two types - **is** , **is not**

In [ ]:
# small integers = -5 to 256
a1 = 200
b1 = 200
print(a1 is b1)
# how to check the memory location of a variable in python -> id
print(id(a1))
print(id(b1))

True
11660744
11660744

In [ ]:
n1 = 750
n2 = 750
print(n1 is n2)
print(id(n1))
print(id(n2))

False
131955843290160
131955843297872

**SEQUENTIAL DATA TYPES** - whenever we have data or values in a sequence or order.

- **List** , **Tuples** , **Strings**

**1- List** - which is used to store multiple values in a single variable.

- ordered collection of elements

- mutable - (add element , remove element ,change the value --means- list are editable)

- can access the elements using index

- list are heterogenous - (can store values of different data types)

- list can have duplicate values

- list are created using square brackets - []

In [ ]:
l1 = ['hello','hii',10,19,45,'python','hii',9.7]
print(l1)
print(type(l1))

['hello', 'hii', 10, 19, 45, 'python', 'hii', 9.7]
<class 'list'>

In [ ]:
# ACCESS ANY VALUE FROM THE LIST

In [ ]:
# indexing -> accessing a single value based on index
# indexing in python always starts from -> 0

![image.png]()

In [ ]:
l2 = ['hello','python','red',77,89,-10]
print(l2[4])
print(l2[-2])

89
89

In [ ]:
print(l2[-1])

-10

In [ ]:
# slicing -> accessing multiple values based on index
# syntax -> l2[start index : end index : step]
# start -> index to begin (inclusive)
# stop -> index to end (exclusive)
# step -> jump (can be positive or negative)

![image.png]()

In [ ]:
l3 = ['hello', 'python','java',10,89,22]
print(l3)

['hello', 'python', 'java', 10, 89, 22]

In [ ]:
print(l3[1:4])

['python', 'java', 10]

In [ ]:
print(l3[0:4:2])

['hello', 'java']

In [ ]:
print(l3[:3])  # it will take from the begining

['hello', 'python', 'java']

In [ ]:
print(l3[2:]) # it will go till the end of data

['java', 10, 89, 22]

In [ ]:
l3[3:]

[10, 89, 22]

In [ ]:
print(l3[:]) # entire list

['hello', 'python', 'java', 10, 89, 22]

In [ ]:
x1 = ['P','Y','T','H','O','N']
print(x1[-5:-2])

['Y', 'T', 'H']

![image.png]()

In [ ]:
# negative step value -
# right side to left side
print(x1)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
print(x1[::-1])   # reverse of a list using slicing

['N', 'O', 'H', 'T', 'Y', 'P']

In [ ]:
l = ['A','B','C','D','E','F']
print(l[-2:-5])

[]

In [ ]:
print(l[-2:-5:-1])

['E', 'D', 'C']

In [ ]:
# CHANGE THE ELEMENT OF A LIST

In [ ]:
y = ['python','java','red','blue',9.8]
print(y)

['python', 'java', 'red', 'blue', 9.8]

In [ ]:
# we can change the value of a list using their index
y[2] = 'pink'
print("updated list-",y)

updated list- ['python', 'java', 'pink', 'blue', 9.8]

In [ ]:
# change multiple values -
y = ['python','java','red','blue',9.8]
y[1:3] = ['HTML','black']
print("updated list-",y)

updated list- ['python', 'HTML', 'black', 'blue', 9.8]

In [ ]:
# ADD A NEW ELEMENT IN A LIST-

In [ ]:
# 1- append() -> it will add a single element at the end of the list
# syntax -> l.append(value)

In [ ]:
l1 = ['shreyansh',21,'bangalore']
print("original list-",l1)
l1.append('A')
print("new list-",l1)

original list- ['shreyansh', 21, 'bangalore']
new list- ['shreyansh', 21, 'bangalore', 'A']

In [ ]:
# 2- extend() -> it will add multiple values at the end of the list
# syntax -> l.extend([values])

In [ ]:
l1 = ['shreyansh',21,'bangalore']
print(l1)
l1.extend(['A','UnderGraduate','Python',89,10])
print(l1)

['shreyansh', 21, 'bangalore']
['shreyansh', 21, 'bangalore', 'A', 'UnderGraduate', 'Python', 89, 10]

In [ ]:
l1 = ['shreyansh',21,'bangalore']
l1.extend('hello')
print(l1)

['shreyansh', 21, 'bangalore', 'h', 'e', 'l', 'l', 'o']

In [ ]:
l1 = ['shreyansh',21,'bangalore']
l1.extend([10])
print(l1)

['shreyansh', 21, 'bangalore', 10]

In [ ]:
# 3- insert -> add/insert the value at a specific position
# syntax -> l.insert(index ,value)
l1 = ['shreyansh',21,'bangalore']
l1.insert(1,'hello')
print(l1)

['shreyansh', 'hello', 21, 'bangalore']

In [ ]:
# DELETE ELEMENT FROM THE LIST-

In [ ]:
# 1- remove()- it will remove the value from the list
# l.remove(value)
x1 = ['hello','red','python',29,'java','pink']
print(x1)
x1.remove('red')
print(x1)

['hello', 'red', 'python', 29, 'java', 'pink']
['hello', 'python', 29, 'java', 'pink']

In [ ]:
# 2- pop() - remove the value from list but based on index
# x1.pop(index)
x1 = ['hello','red','python',29,'java','pink']
print(x1)
x1.pop(3)
print(x1)

['hello', 'red', 'python', 29, 'java', 'pink']
['hello', 'red', 'python', 'java', 'pink']

In [ ]:
# 3- del() - delete the value based on range - it will remove multiple values
# del l[range]
x1 = ['hello','red','python',29,'java','pink']
print(x1)
del x1[1:4]
print(x1)

['hello', 'red', 'python', 29, 'java', 'pink']
['hello', 'java', 'pink']

In [ ]:
x1 = ['hello','red','python',29,'java','pink']
print(x1)
del x1[1:3]
print(x1)

['hello', 'red', 'python', 29, 'java', 'pink']
['hello', 29, 'java', 'pink']

In [ ]:
# SOME OTHER FUNCTIONS

In [ ]:
# len() - it will return the length (total number of elements present)
x1 = ['hello','red','python',29,'java','pink']
print(len(x1))

6

In [ ]:
a = ['a','b','c']
print(len(a))

3

In [ ]:
# count() -> give the frequency of element (occurence of element)
a1 = ['a','a','b','c','d','a','b','x','y','z',17,18,17]
print(a1.count('a'))
print(a1.count('b'))

3
2

In [ ]:
print(a1.count('h'))

0

In [ ]:
print(a1.count(17))

2

In [ ]:
# index() - it will return the index of value
y1 = ['hello','a','v','x',10,19,'hii']
print(y1.index('x'))

3

In [ ]:
print(y1.index(10))

4

In [ ]:
y1 = ['hello','a','v','x',10,19,'hii','x',9,'h'] # return the index of first occurrenve
print(y1.index('x'))

3

**2- Tuples-** used to store multiple elements in a single variable

- ordered collection of elements

- tuples are immutable - (can't change the values , can't add or remove)

- tuples are heterogeneous - (store values of different data types)

- store duplicate value

- created using -> ()

In [ ]:
# HOW TO CREATE TUPLE-

In [ ]:
t1 = ('abc','hello','a','b',10,9.9,'a')
print(t1)

('abc', 'hello', 'a', 'b', 10, 9.9, 'a')

In [ ]:
t1 = ('abc','hello','a','b',['i','j','k'],'a') # list can be an element of tuple
t1

('abc', 'hello', 'a', 'b', ['i', 'j', 'k'], 'a')

In [ ]:
print(type(t1))

<class 'tuple'>

In [ ]:
# ACCESS THE ELEMENT OF TUPLE

In [ ]:
y = ('a','p','y','hello','red',10,19,29,39)
print(y[-2])

29

In [ ]:
t1 = ('abc','hello','a','b',['i','j','k'],'a')
print(t1[4])

['i', 'j', 'k']

In [ ]:
print(t1[4][1])

j

In [ ]:
y = ('a','p','y','hello','red',10,19,29,39)
print(y[2:5])

('y', 'hello', 'red')

In [ ]:
# index() - it will return the index of a value
print(y.index('hello'))

3

In [ ]:
# count() - give the frequency of an element (occurence of an element)
print(y.count('p'))

1

In [ ]:
# len() - it will return the length
print(len(y))

9

In [ ]:
y2 = ('a','p','y','hello','red',10,19,29,39)
y2[2] = 'z'
print(y2)  # error -> tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
# If we want to edit anything in the tuple , how we can do this ?

In [ ]:
y2 = ('a','p','y','hello','red',10,19,29,39)
print(y2)
print(type(y2))

('a', 'p', 'y', 'hello', 'red', 10, 19, 29, 39)
<class 'tuple'>

In [ ]:
# convert tuple to a list
l2 = list(y2)
print(l2)
print(type(l2))

['a', 'p', 'y', 'hello', 'red', 10, 19, 29, 39]
<class 'list'>

In [ ]:
l2[2] = 'z'
print(l2)

['a', 'p', 'z', 'hello', 'red', 10, 19, 29, 39]

In [ ]:
# converting back list to tuple
t2 = tuple(l2)
print(t2)
print(type(t2))

('a', 'p', 'z', 'hello', 'red', 10, 19, 29, 39)
<class 'tuple'>

**3- Strings-** sequence of characters which are enclosed in single, double or triple quotes

- ordered collection of elements

- immuatble (can't change them)

- access them using their index

In [ ]:
s = 'Amol'
print(s)
print(type(s))

Amol
<class 'str'>

In [ ]:
# HOW TO ACCESS ELEMENT OF A STRING

In [ ]:
s1 = 'Sanju'
print(s1[1])

a

In [ ]:
s2 = 'Snehamayee'
print(s2[2:5])

eha

In [ ]:
a1 = "happy new year"
print(a1[7])
print(a1[6])

e
n

In [ ]:
# len() -> it will return the length of string

In [ ]:
print(len(a1))

14

In [ ]:
# STRING FUNCTIONS-
# lower() -> it will convert string to lower case (Small alphabets)

In [ ]:
a2 = 'VIKESH'
print(a2.lower())

vikesh

In [ ]:
# upper() -> it will convert string to upper case (capital letters)
a3 = 'happy new year'
print(a3.upper())

HAPPY NEW YEAR

In [ ]:
# capitalize() -> convert first letter of your string into upper capital
print(a3.capitalize())

Happy new year

In [ ]:
x = "         hello          "
print(x)

         hello

In [ ]:
# lstrip() -> it will remove the blank/white space from the left side or starting of string
print(x.lstrip())

hello

In [ ]:
# rstrip() -> it will remove the blank/white space from the right side or end of the string
print(x.rstrip())

         hello

In [ ]:
# # strip() -> it will remove the blank/white space from both left and right
print(x.strip())

hello

In [ ]:
# STRING OPERATIONS-
# 1- CONCATENATION -> used to combine two or more string
# how to combine -> using (+)
a = 'Amol'
b = 'vapre'
print(a+' '+b)

Amol vapre

In [ ]:
# 2- REPETITION -> if we multiply a string with a number -> it will result in repetion
# string * n(number) -> repeat string n times
h1 = 'shailesh '
print(h1*8)

shailesh shailesh shailesh shailesh shailesh shailesh shailesh shailesh

In [ ]:
h2 = '7 '
print(h2*5)

7 7 7 7 7

In [ ]:
# reverse a string using slicing-

In [ ]:
h3 = 'mehak'
print(h3[::-1])

kahem

In [ ]:
h4 = 'i love python'
res = h4.split()
print(res)

['i', 'love', 'python']

**NON - SEQUENTIAL DATA TYPES-** elements are not arranged in a sequence or not arranged in an ordered way (no specific positions)

- **set** , **dictionary**

**1- set-** unordered collection of distinct elements

- it stores unique value (no duplicates are allowed in set)

- mutable (we can add , remove but we can't change the value of set)

- created using - {}

In [ ]:
s1 = {'hello',1,2,3,'a','b','a','b'}
print(s1)

{'a', 1, 2, 3, 'hello', 'b'}

In [ ]:
print(type(s1))

<class 'set'>

In [ ]:
# HOW TO ADD ELEMENT IN SET-

In [ ]:
# 1- add() -> used to add single element in a set
# s.add(value)
x1 = {'a','hello',9,1,19,'abc'}
print(x1)
x1.add('python')
print(x1)
x1.add('hello')
print(x1)

{'a', 1, 'hello', 19, 9, 'abc'}
{'a', 1, 'hello', 19, 9, 'python', 'abc'}
{'a', 1, 'hello', 19, 9, 'python', 'abc'}

In [ ]:
# 2- update - use to add multiple values in a set
# x1.update(values)
x1 = {'a','hello',9,1,19,'abc'}
print(x1)
x1.update(('python','bangalore',29,34,37,'hiii'))
print(x1)

{'a', 1, 'hello', 19, 9, 'abc'}
{1, 'bangalore', 9, 'abc', 'a', 19, 'python', 'hiii', 29, 34, 37, 'hello'}

In [ ]:
# HOW TO REMOVE ELEMENT FROM A SET-

In [ ]:
# 1- discard() - remove the value/element from a set
# syntax -> s.discard(value)
n1 = {'hello',10,19,'hii','abc','a','b',27}
print(n1)
n1.discard(10)
print(n1)
# n1.discard('python')

{'b', 10, 'abc', 'a', 'hello', 19, 27, 'hii'}
{'b', 'abc', 'a', 'hello', 19, 27, 'hii'}

In [ ]:
# 2- remove() - remove the value/element from a set
# syntax -> s.remove(value)
n1 = {'hello',10,19,'hii','abc','a','b',27}
print(n1)
n1.remove('abc')
print(n1)
# n1.remove('python') # error

{'b', 10, 'abc', 'a', 'hello', 19, 27, 'hii'}
{'b', 10, 'a', 'hello', 19, 27, 'hii'}

In [ ]:
# if you are trying to remove a value which is not present in your set
# discard() -> it will not give any error
# remove() -> it will give error

In [ ]:
# 3- difference_update -> it will remove multiple elements from a set
n1 = {'hello',10,19,'hii','abc','a','b',27}
print(n1)
n = {10,'hello','b'} # the values which we want to remove
n1.difference_update(n)
print(n1)

{'b', 10, 'abc', 'a', 'hello', 19, 27, 'hii'}
{'abc', 'a', 19, 27, 'hii'}

In [ ]:
# OPERATIONS ON SET-
# 1- Union -> it will give all the unique elements from both the set
# 2- Intersection -> common value/elements from both the set
# 3- Difference -> s1.difference(s2) -> all the values only in set 1 not in set 2
# s2.difference(s1) -> all the values present only in set 2 not in set 1

In [ ]:
s1 = {'dabang','phir hera pheri','singham 2',}
s2 = {'welcome','singham 2','singh is king','housefull'}
print(s1.union(s2))

{'singham 2', 'dabang', 'phir hera pheri', 'welcome', 'housefull', 'singh is king'}

In [ ]:
print(s1.intersection(s2))

{'singham 2'}

In [ ]:
print(s1.difference(s2))

{'phir hera pheri', 'dabang'}

In [ ]:
print(s2.difference(s1))

{'welcome', 'housefull', 'singh is king'}

In [ ]:
basketball = {'Amit','Riya','Reshma','Harsh','Ritik','Anurag'}
football = {'Anurag','Rishabh','Rohit','Harsh','Reshma','Kunal','Nikhil'}

In [ ]:
print(basketball.union(football))

{'Rohit', 'Anurag', 'Nikhil', 'Reshma', 'Amit', 'Harsh', 'Ritik', 'Rishabh', 'Riya', 'Kunal'}

In [ ]:
# both basketball and football
print(basketball.intersection(football))

{'Anurag', 'Reshma', 'Harsh'}

In [ ]:
# only basketball players-
print(basketball.difference(football))

{'Ritik', 'Amit', 'Riya'}

In [ ]:
# only football players-
print(football.difference(basketball))

{'Rohit', 'Nikhil', 'Kunal', 'Rishabh'}

**2- Dictionary-** it stores the data in key - value pair

- each key is unique

- keys are immutable

- keys and values can be of any data type

- values are mutable

- created using - {}

In [ ]:
d1 = {1:'hello','a':['red','green','yellow'],'hii':48}
print(d1)

{1: 'hello', 'a': ['red', 'green', 'yellow'], 'hii': 48}

In [ ]:
print(type(d1))

<class 'dict'>

In [ ]:
a1 = {'a':29 , 1:'python','marks':89}
print(a1)

{'a': 29, 1: 'python', 'marks': 89}

In [ ]:
# we are giving duplicate key name
a1 = {'a':29 , 1:'python','marks':89,'a':'rishabh'}
print(a1)

{'a': 'rishabh', 1: 'python', 'marks': 89}

In [ ]:
# ACCESS ANY VALUE FROM DICTIONARY -

In [ ]:
y1 = {'name':'anjali','age':21,'marks':78,'color':'red'}
print(y1)

{'name': 'anjali', 'age': 21, 'marks': 78, 'color': 'red'}

In [ ]:
print(y1['color'])

red

In [ ]:
print(y1['name'])

anjali

In [ ]:
# HOW TO UPDATE/CHANGE THE VALUE OF DICTIONARY

In [ ]:
y1 = {'name':'anjali','age':21,'marks':78,'color':'red'}
print(y1)
y1['marks'] = 75
print(y1)

{'name': 'anjali', 'age': 21, 'marks': 78, 'color': 'red'}
{'name': 'anjali', 'age': 21, 'marks': 75, 'color': 'red'}

In [ ]:
# HOW TO ADD ANY ELEMENT IN A DICTIONARY -

In [ ]:
y1 = {'name':'anjali','age':21,'marks':78,'color':'red'}
print(y1)
y1['grade'] = 'B'
print(y1)

{'name': 'anjali', 'age': 21, 'marks': 78, 'color': 'red'}
{'name': 'anjali', 'age': 21, 'marks': 78, 'color': 'red', 'grade': 'B'}

In [ ]:
# 2- update() -> merge two dictionaries/used to add multiple values in a dictionary
y1 = {'name':'anjali','age':21,'marks':78,'color':'red'}
print(y1)
y1.update({'grade':'B',1:'python','color':'non-sequential'})
print(y1)

{'name': 'anjali', 'age': 21, 'marks': 78, 'color': 'red'}
{'name': 'anjali', 'age': 21, 'marks': 78, 'color': 'non-sequential', 'grade': 'B', 1: 'python'}

In [ ]:
# HOW TO REMOVE ANY VALUE?

In [ ]:
# 1- pop() -> remove the value from dictionary
# d.pop('keyname')
y1 = {'name':'anjali','age':21,'marks':78,'color':'red'}
print(y1)
y1.pop('marks')
print(y1)

{'name': 'anjali', 'age': 21, 'marks': 78, 'color': 'red'}
{'name': 'anjali', 'age': 21, 'color': 'red'}

In [ ]:
# 2- popitem()-> remove the last element from a dictionary
y1 = {'name':'anjali','age':21,'marks':78,'color':'red'}
print(y1)
y1.popitem()
print(y1)

{'name': 'anjali', 'age': 21, 'marks': 78, 'color': 'red'}
{'name': 'anjali', 'age': 21, 'marks': 78}

In [ ]:
y1.popitem()
print(y1)

{'name': 'anjali', 'age': 21}

In [ ]:
# 3- clear() -> it will empty the entire dictionary / clear all the elements of a dictiobary

In [ ]:
y1 = {'name':'anjali','age':21,'marks':78,'color':'red'}
print(y1)
y1.clear()
print(y1) # empty dictionary

{'name': 'anjali', 'age': 21, 'marks': 78, 'color': 'red'}
{}

In [ ]:
# keys()- retrieve all the keys from a dictionary
y1 = {'name':'anjali','age':21,'marks':78,'color':'red'}
print(y1.keys())

dict_keys(['name', 'age', 'marks', 'color'])

In [ ]:
# values() - retrieve all the values from a dictionary
y1 = {'name':'anjali','age':21,'marks':78,'color':'red'}
print(y1.values())

dict_values(['anjali', 21, 78, 'red'])

In [ ]:
# items() - both keys and values
y1 = {'name':'anjali','age':21,'marks':78,'color':'red'}
print(y1.items())

dict_items([('name', 'anjali'), ('age', 21), ('marks', 78), ('color', 'red')])

**CONDITIONAL STATEMENTS**

used to make a decision based on some condition or criteria

- if - single choice/condition

- elif - multiple choice/conditions

- else

In [ ]:
# syntax-
# if (condition):
#   decision/body of if         -- it will execute when condition is true

# ---------------------------------------------------------------------------------------------------------------
# if-else
# if(condition):
#  decision/body of if           -- it will execute when condition is true
# else:
#  decision/body of else
# ------------------------------------------------------------------------------
# if-elif-else
# if (condition):
#   body/decision                -- it will execute when condition is true
# elif (condition):
#   body/decision                -- it will execute when elif condition is true
# elif (condition):
#   body/decision
# else:
#   body/decision

In [ ]:
# example for if-
m = int(input("enter your marks- "))
if (m>35):
  print("pass!!!")

enter your marks- 40
pass!!!

In [ ]:
# using if-else:
m = int(input("enter your marks - " ))
if m>=40:
  print('pass')
else:
  print('fail')

enter your marks - 18
fail

In [ ]:
# if-elif-else
m = int(input("enter your marks - "))
if (m>=85):
  print("Grade A")
elif ((m>=75) and (m<85)):
  print('Grade B')
elif ((m>=65) and (m<75)):
  print('Grade C')
elif ((m>=55) and (m<65)):
  print('Grade D')
else:
  print('Grade E')

enter your marks - 42
Grade E

In [ ]:
# write a program to check whether a person is eligible to vote or not
# 8:39 p.m
age = int(input("enter your age:- "))
if (age>=18):
  print('eligible to vote!')
else:
  print('not eligible to vote!')

enter your age:- 15
not eligible to vote!

**LOOPS**

use to repeat a block of code multiple times

- for loop

- while loop

**1- for loop-** used when you know how many times you want to repeat something

In [ ]:
# syntax -> for variable_name in expression:

In [ ]:
# without loop
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# with loop-
# range(starting value (inclusive),end value(exclusive))
# print the numbers from 1 to 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10):
  print(1)

1
1
1
1
1
1
1
1
1
1

In [ ]:
for i in range(1,21):
  print('Happy new year')

Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year

In [ ]:
l1 = ['amit','anshu','riya','rekha','sanya','simran']
for x in l1:
  print(x)

amit
anshu
riya
rekha
sanya
simran

In [ ]:
n=20
for i in range(n):
  print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

**2- While loop-** used to repeat a block of code as long as the condition is true. In while loop we don't know that how many times loop is going to repeat.

In [ ]:
# syntax - while (consition):

In [ ]:
5!=11

True

In [ ]:
secret = 11
guess = int(input("guess the number- "))
while (guess!=secret):
  print('Sorry, Wrong Answer:(')
  print('Try again!')
  guess = int(input('enter number again- '))
print('Correct Answer:)')
print('Level Unlocked!!!')

guess the number- 9
Sorry, Wrong Answer:(
Try again!
enter number again- 12
Sorry, Wrong Answer:(
Try again!
enter number again- 29
Sorry, Wrong Answer:(
Try again!
enter number again- 28
Sorry, Wrong Answer:(
Try again!
enter number again- 18
Sorry, Wrong Answer:(
Try again!
enter number again- 11
Correct Answer:)
Level Unlocked!!!

In [ ]:
password = 'vikesh'
a1 = str(input("enter password: "))
while(a1!=password):
  print('incorrect password')
  a1 = str(input('try again- '))
print('phone unlocked!! ')

enter password: ankit
incorrect password
try again- ruhi
incorrect password
try again- vikesh
phone unlocked!!

In [ ]:
password = 'vikesh'
a1 = str(input("enter password: "))
while(a1!=password):
  print('incorrect password')
  a1 = str(input('try again- '))
print('phone unlocked!! ')

enter password: bharat
incorrect password
try again- vikesh
phone unlocked!!

CONTROL STATEMENT - used to control the flow or execution of our program.

- break = terminate/exit from the program

- continue = skip that value and continue to next

- pass = to avoid the error

In [ ]:
for i in range(1,21):
  if(i==15):
    break
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for i in range(1,21):
  if(i==15):
    continue
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20

In [ ]:
for i in range(1,11):
  pass

In [ ]:
if 5>10:
  pass

**FUNCTIONS**

- It is a reusable block of code that performs a specific task or function when it is called

- define a function - def function_name():

- inside the body of function - logic/task

- call the function

In [ ]:
# function without parameter
def add():
  a = int(input('maths marks- '))
  b = int(input('science marks- '))
  print("total-" ,a+b)

# function calling is always done outside the function
# how to call? -> functionname
add()

maths marks- 34
science marks- 39
total- 73

In [ ]:
add()

maths marks- 58
science marks- 56
total- 114

In [ ]:
# function with parameter-
def add(a,b):
  print("total marks- ",a+b)

add(45,48)
n1 = int(input('num1- '))
n2 = int(input('num2- '))
add(n1,n2)

total marks-  93
num1- 90
num2- 89
total marks-  179

In [ ]:
# with default parameter-
def add(a=0,b=0):
  print('total -',a+b)

add()
add(88,80)

total - 0
total - 168

In [ ]:
def add(a,b=9):
  print('total -',a+b)

add(1)

total - 10

In [ ]:
#1- create a function which calculates the square of a number
# 10 : 30 p.m
def abc():
  n = int(input("number - "))
  print(n*n)
abc()

number - 9
81