<a href="https://colab.research.google.com/github/HarshaPriya03/PythonLearning/blob/main/Pandas_18_01_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas-Panel Data**

Pandas is a python library whichh is used to work with datasets.

Small or large information(Thousands and lakhs of records in the form of rows and columns is what we called as datasets.

The two things that we study in pandas is

1. **Series:**

1d labelled Array : one  column of an excel sheet.

Has index + value


2. **Dataframe:**

2d labelled table: Whole excel sheet.

Rows+Columns

Each column will be a series.

In [ ]:
#Name=['A','B','C','D']--series
#MArks=[10,20,30,60,90]--series
#if we combine both the coluumn together it will become a dataframe.

# **Series:**

In [ ]:
# !pip install pandas

In [ ]:
import pandas as pd

In [ ]:
li=['Nihal','Yospeh','Amol','Siddarth','Umesh']
li

['Nihal', 'Yospeh', 'Amol', 'Siddarth', 'Umesh']

In [ ]:
#Creating a series
ser=pd.Series(li)  #We create a series by putting the list in the pd.Series fxn.
#object data type means it contains some string value

In [ ]:
ser

0       Nihal
1      Yospeh
2        Amol
3    Siddarth
4       Umesh
dtype: object

In [ ]:
#Name the column
ser=pd.Series(li,name='Person Name')

In [ ]:
ser

0       Nihal
1      Yospeh
2        Amol
3    Siddarth
4       Umesh
Name: Person Name, dtype: object

In series we have 2 things:

Left side(0,1,2,3,4)-Index

Right side(Nihal,Yospeh,Amol,Siddarth,Umesh)- Value

In [ ]:
#Giving the custom name index
ser=pd.Series(li,index=['a','b','c','d','e'],name='Person Name')

In [ ]:
ser

a       Nihal
b      Yospeh
c        Amol
d    Siddarth
e       Umesh
Name: Person Name, dtype: object

Create a tuple with the values of some country name then convert the tuple into pandas series and change the column name and give your own custom index.

In [ ]:
tu=('India','UK','Gremany','USA','Srilanka')
tu

('India', 'UK', 'Gremany', 'USA', 'Srilanka')

In [ ]:
ser=pd.Series(tu,name='Country Name',index=['C1','C2','C3','C4','C5'])
ser

C1       India
C2          UK
C3     Gremany
C4         USA
C5    Srilanka
Name: Country Name, dtype: object

In [ ]:
#How we can get a particular value in a series:
ser['C3']

'Gremany'

In [ ]:
ser['C2':'C4']

C2         UK
C3    Gremany
C4        USA
Name: Country Name, dtype: object

In [ ]:
ser[['C1','C4','C3','C2']]

C1      India
C4        USA
C3    Gremany
C2         UK
Name: Country Name, dtype: object

# DataFrames

In [ ]:
li=[['Akash',50],['Yoseph',90],['umesh',85],['Amol',70],['Puja',83]]

In [ ]:
li

[['Akash', 50], ['Yoseph', 90], ['umesh', 85], ['Amol', 70], ['Puja', 83]]

In [ ]:
#Creating DataFrame
df=pd.DataFrame(li)

In [ ]:
df

        0   1
0   Akash  50
1  Yoseph  90
2   umesh  85
3    Amol  70
4    Puja  83

In [ ]:
# Name the columns
df=pd.DataFrame(li,columns=['Name','Marks'])

In [ ]:
df

     Name  Marks
0   Akash     50
1  Yoseph     90
2   umesh     85
3    Amol     70
4    Puja     83

In [ ]:
#Give some custome index
df=pd.DataFrame(li,columns=['Name','Marks'],index=['a','b','c','d','e'])

In [ ]:
df

     Name  Marks
a   Akash     50
b  Yoseph     90
c   umesh     85
d    Amol     70
e    Puja     83

Create a dictionary in which your keys will be Cars,Price and Model and give thee suitabble values in the keys.Convert the dictionary into a DataFrame.

In [ ]:
data={
    'Cars':['BMW','KIA','Tata','Nissan','Audi'],
    'Price':['10Laks','50Laks','30Lakhs','90Lakhs','20Lakhs'],
    'Model':[2021,2000,2007,2024,2025]
}

In [ ]:
cars_df=pd.DataFrame(data)

In [ ]:
cars_df  #when you convert a dictionary into a dataframe then your keys will become the column name.

     Cars    Price  Model
0     BMW   10Laks   2021
1     KIA   50Laks   2000
2    Tata  30Lakhs   2007
3  Nissan  90Lakhs   2024
4    Audi  20Lakhs   2025

**Loc Function:**

.loc[] stands for location based on labels.

It is used to access rows or columns in a dataframe using their names or index labels

In [ ]:
#df.loc[row_label,column_label]

In [ ]:
data={
    'Name':['Umesh','Lakshmi','Mallick','Amol','Siddarth'],
    'Age':[20,22,24,26,28],
    'Marks':[80,85,90,78,50]
}

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

       Name  Age  Marks
0     Umesh   20     80
1   Lakshmi   22     85
2   Mallick   24     90
3      Amol   26     78
4  Siddarth   28     50

In [ ]:
#select one row using the row_label
df.loc[2]

Name     Mallick
Age           24
Marks         90
Name: 2, dtype: object

In [ ]:
#access multiple rows using the row label
df.loc[[1,3]]

      Name  Age  Marks
1  Lakshmi   22     85
3     Amol   26     78

In [ ]:
#accesss specific row and specific column
df.loc[[0,3],['Name','Age']]

    Name  Age
0  Umesh   20
3   Amol   26

In [ ]:
#slicing by label(end is included)
df.loc[1:3]

      Name  Age  Marks
1  Lakshmi   22     85
2  Mallick   24     90
3     Amol   26     78

In [ ]:
df.loc[1:3,'Name':'Age']  #slicing across row label and column label

      Name  Age
1  Lakshmi   22
2  Mallick   24
3     Amol   26

In [ ]:
#conditional selection
#i want to select thhose rows where my mrks is greater than 90
df.loc[(df['Marks']>=90)&(df['Age']>20),['Name','Marks']]

      Name  Marks
2  Mallick     90

In [ ]:
# Modify the data
df.loc[1,'Name']

'Lakshmi'

In [ ]:
df.loc[1,'Name']='Anil'

In [ ]:
df

       Name  Age  Marks
0     Umesh   20     80
1      Anil   22     85
2   Mallick   24     90
3      Amol   26     78
4  Siddarth   28     50

In [ ]:
df.loc[[0,1,2],'Name']

0      Umesh
1       Anil
2    Mallick
Name: Name, dtype: object

In [ ]:
# df.loc[[0,1,2],'Name']='Anil'

In [ ]:
df

       Name  Age  Marks
0     Umesh   20     80
1      Anil   22     85
2   Mallick   24     90
3      Amol   26     78
4  Siddarth   28     50

In [ ]:
df.drop(2,axis=0)   #row-axis=0,column-axis=1
#delete a row
# df.drop('Name',axis=1)  #delete a column

       Name  Age  Marks
0     Umesh   20     80
1      Anil   22     85
3      Amol   26     78
4  Siddarth   28     50

In [ ]:
#drop the specific row and specific column
# df.loc[df['Name']=='Umesh','Age']=None

In [ ]:
# df

In [ ]:
#drop the whole dataframe
# del df

In [ ]:
df.reset_index(drop=True)

       Name  Age  Marks
0     Umesh   20     80
1      Anil   22     85
2   Mallick   24     90
3      Amol   26     78
4  Siddarth   28     50

**ILOC FUNCTION**

.iloc[] stands for integer location

It is used to access rows or columns using their position(index number).

In [ ]:
df

       Name  Age  Marks
0     Umesh   20     80
1      Anil   22     85
2   Mallick   24     90
3      Amol   26     78
4  Siddarth   28     50

In [ ]:
#select one row
df.iloc[3]

Name     Amol
Age        26
Marks      78
Name: 3, dtype: object

In [ ]:
#select multiple rows by index
df.iloc[[1,4]]

       Name  Age  Marks
1      Anil   22     85
4  Siddarth   28     50

In [ ]:
#specific column and specific row
df.iloc[[0,3],[0,1]]

    Name  Age
0  Umesh   20
3   Amol   26

In [ ]:
#slicing [end in excluded]
df.iloc[0:4]

      Name  Age  Marks
0    Umesh   20     80
1     Anil   22     85
2  Mallick   24     90
3     Amol   26     78

In [ ]:
#Modify the data
df.iloc[1,0]

'Anil'

In [ ]:
df.iloc[1,0]='Lakshmi'

In [ ]:
df

       Name  Age  Marks
0     Umesh   20     80
1   Lakshmi   22     85
2   Mallick   24     90
3      Amol   26     78
4  Siddarth   28     50

In [ ]:
#difference between loc and iloc
#Difference         #loc                            #iloc
#access             Label                            Index
#end in slicing     Included                         Excluded
#Usecase            access using label               access using index

You have a Dataset:

data={
  'Name':['Yospeh','Anjani','Amol','Puja','Lakshmi'],
  'Age':[20,22,24,26,28],
  'Deaprtment':['IT','HR','Finance','HR','IT'],
  'Salary':[30000,28000,35000,27000,40000]}

df=pd.DataFrame(data,index=['E1','E2','E3','E4','E5'])

1. Access the Name and Salary of E1

2. Display all the employees belonging to the HR Department.

3. Get the first 3 rows and 3 columns by iloc fxn.

4. Access the value where salary is 35000 using iloc fxn.

5. Access the empployee whhose salary is greater than 30000.

In [ ]:
data={
  'Name':['Yospeh','Anjani','Amol','Puja','Lakshmi'],
  'Age':[20,22,24,26,28],
  'Deaprtment':['IT','HR','Finance','HR','IT'],
  'Salary':[30000,28000,35000,27000,40000]}

In [ ]:
df=pd.DataFrame(data,index=['E1','E2','E3','E4','E5'])

In [ ]:
df

       Name  Age Deaprtment  Salary
E1   Yospeh   20         IT   30000
E2   Anjani   22         HR   28000
E3     Amol   24    Finance   35000
E4     Puja   26         HR   27000
E5  Lakshmi   28         IT   40000

In [ ]:
#Access the Name and Salary of E1
df.loc['E1',['Name','Salary']]

Name      Yospeh
Salary     30000
Name: E1, dtype: object

In [ ]:
#Display all the employees belonging to the HR Department.
df.loc[df['Deaprtment']=='HR']

      Name  Age Deaprtment  Salary
E2  Anjani   22         HR   28000
E4    Puja   26         HR   27000

In [ ]:
#Get the first 3 rows and 3 columns by iloc fxn.
df.iloc[0:3,0:3]

      Name  Age Deaprtment
E1  Yospeh   20         IT
E2  Anjani   22         HR
E3    Amol   24    Finance

In [ ]:
#Access the value where salary is 35000 using iloc fxn.
salary_col_index=df.columns.get_loc('Salary')

In [ ]:
rows=df.iloc[:,3]==35000

In [ ]:
df.iloc[rows.values]

    Name  Age Deaprtment  Salary
E3  Amol   24    Finance   35000

In [ ]:
#Access the empployee whhose salary is greater than 30000.
df.loc[df['Salary']>30000]

       Name  Age Deaprtment  Salary
E3     Amol   24    Finance   35000
E5  Lakshmi   28         IT   40000

In [ ]:
# Use loc- When the condition is based on column values
#Use iloc-When you know row and column number

# **Reading a csv file**

In [ ]:
df=pd.read_csv('/content/Cars (1) (2).csv')

In [ ]:
df

      mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
0    14.0          8         350  165      4209          12  1972       US.
1    31.9          4          89   71      1925          14  1980   Europe.
2    17.0          8         302  140      3449          11  1971       US.
3    15.0          8         400  150      3761          10  1971       US.
4    30.5          4          98   63      2051          17  1978       US.
..    ...        ...         ...  ...       ...         ...   ...       ...
256  17.0          8         305  130      3840          15  1980       US.
257  36.1          4          91   60      1800          16  1979    Japan.
258  22.0          6         232  112      2835          15  1983       US.
259  18.0          6         232  100      3288          16  1972       US.
260  22.0          6         250  105      3353          15  1977       US.

[261 rows x 8 columns]

In [ ]:
#i want to see the top 5 rows of my data
df.head()

    mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
0  14.0          8         350  165      4209          12  1972       US.
1  31.9          4          89   71      1925          14  1980   Europe.
2  17.0          8         302  140      3449          11  1971       US.
3  15.0          8         400  150      3761          10  1971       US.
4  30.5          4          98   63      2051          17  1978       US.

In [ ]:
#Top 20 rows of the data
df.head(20)

     mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
0   14.0          8         350  165      4209          12  1972       US.
1   31.9          4          89   71      1925          14  1980   Europe.
2   17.0          8         302  140      3449          11  1971       US.
3   15.0          8         400  150      3761          10  1971       US.
4   30.5          4          98   63      2051          17  1978       US.
5   23.0          8         350  125      3900          17  1980       US.
6   13.0          8         351  158      4363          13  1974       US.
7   14.0          8         440  215      4312           9  1971       US.
8   25.4          5         183   77      3530          20  1980   Europe.
9   37.7          4          89   62      2050          17  1982    Japan.
10  34.0          4         108   70      2245          17  1983    Japan.
11  34.3          4          97   78      2188          16  1981   Europe.
12  16.0          8         302  140      4141          14  1975       US.
13  11.0          8         350  180      3664          11  1974       US.
14  19.1          6         225   90                    19  1981       US.
15  16.9          8         350  155      4360          15  1980       US.
16  31.8          4          85   65      2020          19  1980    Japan.
17  16.0          8         304  150      3433          12  1971       US.
18  24.0          4         113   95      2278          16  1973    Japan.
19  24.0          4         107   90      2430          15  1971   Europe.

In [ ]:
# Bottom 5 rows of the data
df.tail()

      mpg  cylinders cubicinches   hp weightlbs  time-to-60  year    brand
256  17.0          8         305  130      3840          15  1980      US.
257  36.1          4          91   60      1800          16  1979   Japan.
258  22.0          6         232  112      2835          15  1983      US.
259  18.0          6         232  100      3288          16  1972      US.
260  22.0          6         250  105      3353          15  1977      US.

In [ ]:
df.tail(20)

      mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
241  18.0          6         225  105      3121          17  1974       US.
242  16.0          8         400  180      4220          11  1978       US.
243  25.0          4         110   87      2672          18  1971   Europe.
244  14.0          8         454  220      4354           9  1971       US.
245  15.0          8         318  150      3399          11  1974       US.
246  19.4          8         318  140      3735          13  1979       US.
247  44.3          4          90   48      2085          22  1981   Europe.
248  28.0          4          97   75      2155          16  1977    Japan.
249  29.0          4         135   84      2525          16  1983       US.
250  32.1          4          98   70      2120          16  1981       US.
251  24.0          4         121  110      2660          14  1974   Europe.
252  36.4          5         121   67      2950          20  1981   Europe.
253  13.0          8         350  145      3988          13  1974       US.
254  23.5          6         173  110      2725          13  1982       US.
255  24.0          4         113   95      2372          15  1971    Japan.
256  17.0          8         305  130      3840          15  1980       US.
257  36.1          4          91   60      1800          16  1979    Japan.
258  22.0          6         232  112      2835          15  1983       US.
259  18.0          6         232  100      3288          16  1972       US.
260  22.0          6         250  105      3353          15  1977       US.

In [ ]:
#I want to see how many rows and columns are there in my data
df.shape  #Rows, column
#In my data 261 rows are there and 8 columns are there in my data

(261, 8)

In [ ]:
#I want to see the columns in my data
df.columns

Index(['mpg', 'cylinders', 'cubicinches', 'hp', 'weightlbs', 'time-to-60',
       'year', 'brand'],
      dtype='object')

In [ ]:
#i want to see the null value
df.isnull()

      mpg  cylinders  cubicinches     hp  weightlbs  time-to-60   year  brand
0   False      False        False  False      False       False  False  False
1   False      False        False  False      False       False  False  False
2   False      False        False  False      False       False  False  False
3   False      False        False  False      False       False  False  False
4   False      False        False  False      False       False  False  False
5   False      False        False  False      False       False  False  False
6   False      False        False  False      False       False  False  False
7   False      False        False  False      False       False  False  False
8   False      False        False  False      False       False  False  False
9   False      False        False  False      False       False  False  False
10  False      False        False  False      False       False  False  False
11  False      False        False  False      False       False  False  False
12  False      False        False  False      False       False  False  False
13  False      False        False  False      False       False  False  False
14  False      False        False  False      False       False  False  False
15  False      False        False  False      False       False  False  False
16  False      False        False  False      False       False  False  False
17  False      False        False  False      False       False  False  False
18  False      False        False  False      False       False  False  False
19  False      False        False  False      False       False  False  False
20  False      False        False  False      False       False  False  False
21  False      False        False  False      False       False  False  False
22  False      False        False  False      False       False  False  False
23  False      False        False  False      False       False  False  False
24  False      False        False  False      False       False  False  False
25  False      False        False  False      False       False  False  False
26  False      False        False  False      False       False  False  False
27  False      False        False  False      False       False  False  False
28  False      False        False  False      False       False  False  False
29  False      False        False  False      False       False  False  False

In [ ]:
#Total null value in each column
df.isnull().sum()

mpg            0
cylinders      0
cubicinches    0
hp             0
weightlbs      0
time-to-60     0
year           0
brand          0
dtype: int64

In [ ]:
#In the whole data how manyy null values are there
df.isnull().sum().sum()

np.int64(0)

In [ ]:
df[df.isnull().any(axis=1)].index

#axis=0  -Column wise(downwards)
#axis=1 -Row wise(sideways)

Index([], dtype='int64')

In [ ]:
#duplicate records
df.duplicated().sum()

np.int64(0)

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [mpg, cylinders, cubicinches, hp, weightlbs, time-to-60, year, brand]
Index: []

In [ ]:
# Summary report of my data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mpg          261 non-null    float64
 1   cylinders    261 non-null    int64
 2   cubicinches  261 non-null    object
 3   hp           261 non-null    int64
 4   weightlbs    261 non-null    object
 5   time-to-60   261 non-null    int64
 6   year         261 non-null    int64
 7   brand        261 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 16.4+ KB

In [ ]:
#Statistical description of the data
df.describe()

              mpg   cylinders          hp  time-to-60         year
count  261.000000  261.000000  261.000000  261.000000   261.000000
mean    23.144828    5.590038  106.360153   15.547893  1976.819923
std      7.823570    1.733310   40.499959    2.910625     3.637696
min     10.000000    3.000000   46.000000    8.000000  1971.000000
25%     16.900000    4.000000   75.000000   14.000000  1974.000000
50%     22.000000    6.000000   95.000000   16.000000  1977.000000
75%     28.800000    8.000000  138.000000   17.000000  1980.000000
max     46.600000    8.000000  230.000000   25.000000  1983.000000

In [ ]:
# handson

In [ ]:
# Create a sample list,tuple,set with the elements from 1-10.Convert each of the data type into a pandas series. Create a seperate list of index value for the series.

In [15]:
import pandas as pd
li=[1,2,3,4,5,6,7,8,9,10]
tu=(1,2,3,4,5,6,7,8,9,10)
se={1,2,3,4,5,6,7,8,9,10}
ind=["a","b","c","d","e","f","g","h","i","j"]
se_li=pd.Series(li,index=ind)
se_li

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [11]:
tu_li=pd.Series(tu,index=ind)
tu_li

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [18]:
se_se=pd.Series(list(se),index=ind)
se_se

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
# Create a dictionary  with three key value pairs ,keep the
# first name of a person as a key and the last name of the person as value.Convert the dictionary into a Pandas Series.

In [23]:
dicti={"first_name":"key","last_name":"values"}

dict_se=pd.Series([dicti],columns=["hi","hello"])
dict_se

TypeError: Series.__init__() got an unexpected keyword argument 'columns'

In [26]:
import pandas as pd

# 1. Create the dictionary
people_dict = {
    "Alice": "Smith",
    "Bob": "Johnson",
    "Charlie": "Brown"
}

# 2. Convert to a Pandas Series
people_series = pd.Series(list(people_dict),columns=["first_name","last_name"])

print(people_series)

TypeError: Series.__init__() got an unexpected keyword argument 'columns'

In [ ]:
#in dict we cant name columns because, here the first column is index so

In [27]:
import pandas as pd

people_dict = {"Alice": "Smith", "Bob": "Johnson", "Charlie": "Brown"}

# Convert dict items to a list and create a DataFrame
df = pd.DataFrame(list(people_dict.items()), columns=["first_name", "last_name"])

print(df)

  first_name last_name
0      Alice     Smith
1        Bob   Johnson
2    Charlie     Brown

In [ ]:
# reate a pandas series with the elements as numbers from 1-10.Use the index value startting from 0-9. For the series:
# a) Convert it into a list.
# b)Convert it into a tuple.
# c)Convert it into a set.
# # d)Convert it into a dictionary.

In [36]:
serie = pd.Series(range(1,11))
serie

listt=serie.tolist()
listt

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
tuplee=tuple(serie)
tuplee

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [38]:
sett=set(serie)
sett

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# Create a sample pandas seriess with x integer elements.Perform the following operations:
# a. Print the first 5 elements of the series.
# b. Print the last 5 elements of the series.
# c. Insert an integer 50 at the index 5.
# d. Update the last element in the series with the value 100.
# e. Delete the first element from the series.

In [39]:
sample= pd.Series(range(1,11))
sample

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [41]:
#pandas included
sample[0:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [44]:
sample[-5::]

5     6
6     7
7     8
8     9
9    10
dtype: int64

In [45]:
sample.insert(50,index=5)

AttributeError: 'Series' object has no attribute 'insert'

In [48]:
sample.iloc[-1]=100
sample

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9    100
dtype: int64

In [ ]:
sample.drop(axis=1)

In [ ]:
# From the given series A and B perform the cancatenation on the same series,series_A=pd.Series([1,2,3,4,5]), series_B=pd.Series([6,7,8,9,10]).

In [52]:
series_A=pd.Series([1,2,3,4,5])
series_B=pd.Series([6,7,8,9,10])
series_c=pd.concat([series_A,series_B],ignore_index=True)
series_c

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
# Create a DataFrame with two columns=['Name','Age'].Perform the followig operations:


# a. Print the first 3 rows of the dataframe.


# b. Print the rows that have the age greater than 15.


# c. Insert imaginary 5 names and age to adataframe and merge it with the previous one.


# d.Update the 5th row so that the name=John and Age=56.


# e. Delete the first row from the dataframe.

In [61]:
li=[['Akash',50],['Yoseph',90],['umesh',85],['Amol',70],['Puja',83]]

data=pd.DataFrame(li,columns=['Name','Age'])
data

     Name  Age
0   Akash   50
1  Yoseph   90
2   umesh   85
3    Amol   70
4    Puja   83

In [57]:
data[0:3]

     Name  Age
0   Akash   50
1  Yoseph   90
2   umesh   85

In [62]:
data[data['Age']>15]
data

     Name  Age
0   Akash   50
1  Yoseph   90
2   umesh   85
3    Amol   70
4    Puja   83

In [ ]:
# From the Above DataFrame you have to Perform the Following Operations:
# a. Write a sample code to search for the Name Where the Age is 20.
# b. Sort the dataframe in ascedning order of ages.
# c. Using the python loops, print the ages from the dataframe and store it in a set.