<a href="https://colab.research.google.com/github/HarshaPriya03/PythonLearning/blob/main/Pandas_Handson_24_01_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create a sample list,tuple,set with the elements from 1-10.Convert each of the data type into a pandas series. Create a seperate list of index value for the series.**

In [ ]:
loc - label
iloc-index

In [ ]:
li=[1,2,3,4,5,6,7,8,9,10]
tu=(1,2,3,4,5,6,7,8,9,10)
se={1,2,3,4,5,6,7,8,9,10}
ind=['a','b','c','d','e','f','g','h','i','j']

In [ ]:
import pandas as pd

In [ ]:
#Covert the list into series
ser=pd.Series(li,index=ind)

In [ ]:
ser

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
#Convert the tuple into the series
ser=pd.Series(tu,index=ind)

In [ ]:
ser

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
#Convert the set into seires
ser=pd.Series(se,index=ind)   #We cannot directly convert our set into a series
#We will convert our set into a list and then we will convert it into a series

TypeError: 'set' type is unordered

In [ ]:
ser=pd.Series(list(se),index=ind)

In [ ]:
ser

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

**Create a dictionary  with three key value pairs ,keep the first name of a person as a key and the last name of the person as value.Convert the dictionary into a Pandas Series.**

In [ ]:
my_dict={
    'Siddharth':'Dhamak',
    'Yoseph':'Alluri',
    'Amol':'Varpe'
}

In [ ]:
ser=pd.Series(my_dict,name='Last Name')

In [ ]:
ser
#Whenever you are converting a dictionary into a series so your keys will become the index and value will be the value.

Siddharth    Dhamak
Yoseph       Alluri
Amol          Varpe
Name: Last Name, dtype: object

**Create a pandas series with the elements as numbers from 1-10.Use the index value startting from 0-9. For the series:**

**a) Convert it into a list.**

**b)Convert it into a tuple.**

**c)Convert it into a set.**

**d)Convert it into a dictionary.**

In [ ]:
ser=pd.Series([1,2,3,4,5,6,7,8,9,10])

In [ ]:
ser

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
#a) Convert it into a list.
li=list(ser)

In [ ]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#b)Convert it into a tuple.
tu=tuple(ser)
tu

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#c)Convert it into a set.
se=set(ser) #We can directly convert a set into a series

In [ ]:
se

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#d)Convert it into a dictionary.
dic=dict(ser)
print(dic)

{0: np.int64(1), 1: np.int64(2), 2: np.int64(3), 3: np.int64(4), 4: np.int64(5), 5: np.int64(6), 6: np.int64(7), 7: np.int64(8), 8: np.int64(9), 9: np.int64(10)}

**Create a sample pandas seriess with x integer elements.Perform the following operations:**

**a. Print the first 5 elements of the series.**

**b. Print the last 5 elements of the series.**

**c. Insert an integer 50 at the index 5.**

**d. Update the last element in the series with the value 100.**

**e. Delete the first element from the series.**

In [ ]:
ser=pd.Series([11,22,33,44,55,66,77,88,99,110])

In [ ]:
ser

0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    110
dtype: int64

In [ ]:
#a. Print the first 5 elements of the series.
ser.head()

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [ ]:
#b. Print the last 5 elements of the series.
ser.tail()

5     66
6     77
7     88
8     99
9    110
dtype: int64

In [ ]:
#c. Update an integer 50 at the index 5.
ser[5]=50

In [ ]:
ser

0     11
1     22
2     33
3     44
4     55
5     50
6     77
7     88
8     99
9    110
dtype: int64

In [ ]:
#d. Update the last element in the series with the value 100.
ser[9]=100

In [ ]:
ser

0     11
1     22
2     33
3     44
4     55
5     50
6     77
7     88
8     99
9    100
dtype: int64

In [ ]:
#e. Delete the first element from the series.
ser=ser.drop(0)

In [ ]:
ser

1     22
2     33
3     44
4     55
5     50
6     77
7     88
8     99
9    100
dtype: int64

In [ ]:
ser=ser.reset_index(drop=True)

In [ ]:
ser

0     22
1     33
2     44
3     55
4     50
5     77
6     88
7     99
8    100
dtype: int64

In [ ]:
#add a new element to the series
ser.loc[len(ser)]=200

In [ ]:
ser

0     22
1     33
2     44
3     55
4     50
5     77
6     88
7     99
8    100
9    200
dtype: int64

From the given series A and B perform the cancatenation on the same series,series_A=pd.Series([1,2,3,4,5]), series_B=pd.Series([6,7,8,9,10]).

In [ ]:
series_A=pd.Series([1,2,3,4,5])

In [ ]:
series_B=pd.Series([6,7,8,9,10])

In [ ]:
concat_ser=pd.concat([series_A,series_B],ignore_index=True)

In [ ]:
concat_ser

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

**Create a DataFrame with two columns=['Name','Age'].Perform the followig operations:**

**a. Print the first 3 rows of the dataframe.**

**b. Print the rows that have the age greater than 15.**

**c. Insert imaginary 5 names and age to adataframe and merge it with the previous one.**

**d.Update the 5th row so that the name=John and Age=56.**

**e. Delete the first row from the dataframe.**

In [ ]:
dic={
    "Name":['Yospeh','siddarth','Amol','Rahul','Karan','Shilpa','Shreya'],
    "Age":[12,23,24,10,30,27,19]
}

In [ ]:
df=pd.DataFrame(dic)

In [ ]:
df

       Name  Age
0    Yospeh   12
1  siddarth   23
2      Amol   24
3     Rahul   10
4     Karan   30
5    Shilpa   27
6    Shreya   19

In [ ]:
#a. Print the first 3 rows of the dataframe.
df.head(3)

       Name  Age
0    Yospeh   12
1  siddarth   23
2      Amol   24

In [ ]:
#b. Print the rows that have the age greater than 15.
df[df['Age']>15]

       Name  Age
1  siddarth   23
2      Amol   24
4     Karan   30
5    Shilpa   27
6    Shreya   19

In [ ]:
df1=pd.DataFrame({'Name':['Priya','Chaya','Ayesha','Diya','Aman'],'Age':[20,18,24,29,32]})

In [ ]:
df1

     Name  Age
0   Priya   20
1   Chaya   18
2  Ayesha   24
3    Diya   29
4    Aman   32

In [ ]:
df

       Name  Age
0    Yospeh   12
1  siddarth   23
2      Amol   24
3     Rahul   10
4     Karan   30
5    Shilpa   27
6    Shreya   19

In [ ]:
df=pd.concat([df,df1],ignore_index=True)

In [ ]:
df

        Name  Age
0     Yospeh   12
1   siddarth   23
2       Amol   24
3      Rahul   10
4      Karan   30
5     Shilpa   27
6     Shreya   19
7      Priya   20
8      Chaya   18
9     Ayesha   24
10      Diya   29
11      Aman   32

In [ ]:
#d.Update the 5th row so that the name=John and Age=56.
df.loc[4,'Name']='John'
df.loc[4,'Age']=56

In [ ]:
df

        Name  Age
0     Yospeh   12
1   siddarth   23
2       Amol   24
3      Rahul   10
4       John   56
5     Shilpa   27
6     Shreya   19
7      Priya   20
8      Chaya   18
9     Ayesha   24
10      Diya   29
11      Aman   32

In [ ]:
#e. Delete the first row from the dataframe.
df=df.drop(0)

In [ ]:
df

        Name  Age
1   siddarth   23
2       Amol   24
3      Rahul   10
4       John   56
5     Shilpa   27
6     Shreya   19
7      Priya   20
8      Chaya   18
9     Ayesha   24
10      Diya   29
11      Aman   32

In [ ]:
df=df.reset_index(drop=True)

In [ ]:
df

        Name  Age
0   siddarth   23
1       Amol   24
2      Rahul   10
3       John   56
4     Shilpa   27
5     Shreya   19
6      Priya   20
7      Chaya   18
8     Ayesha   24
9       Diya   29
10      Aman   32

**From the Above DataFrame you have to Perform the Following Operations:**

**a. Write a sample code to search for the Name Where the Age is 20.**

**b. Sort the dataframe in ascedning order of ages.**

**c. Using the python loops, print the ages from the dataframe and store it in a set.**

In [ ]:
df

        Name  Age
0   siddarth   23
1       Amol   24
2      Rahul   10
3       John   56
4     Shilpa   27
5     Shreya   19
6      Priya   20
7      Chaya   18
8     Ayesha   24
9       Diya   29
10      Aman   32

In [ ]:
#a. Write a sample code to search for the Name Where the Age is 20.
df[df['Age']==20]

    Name  Age
6  Priya   20

In [ ]:
#b. Sort the dataframe in ascedning order of ages.
df=df.sort_values(by='Age')

In [ ]:
df

        Name  Age
2      Rahul   10
7      Chaya   18
5     Shreya   19
6      Priya   20
0   siddarth   23
1       Amol   24
8     Ayesha   24
4     Shilpa   27
9       Diya   29
10      Aman   32
3       John   56

In [ ]:
#c. Using the python loops, print the ages from the dataframe and store it in a set.
se=set()
for i in df['Age']:
  print(i)
  se.add(i)
print(se)

10
18
19
20
23
24
24
27
29
32
56
{32, 10, 18, 19, 20, 23, 24, 56, 27, 29}