<a href="https://colab.research.google.com/github/HarshaPriya03/PythonLearning/blob/main/Purchase_Case_Study_(Handson_of_Inferential_stats).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset Link : https://drive.google.com/file/d/1jgGIOQ9YuMf7Oq8DI8i0_GbL-_-MQtDo/view?usp=sharing

In [ ]:
# Import basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings  # To ignore all the warning while doing the operations
warnings.filterwarnings("ignore")

In [ ]:
# Load the data
df=pd.read_csv("purchase_data.csv")
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10.0,A,2,0.0,3.0,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10.0,A,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10.0,A,2,0.0,12.0,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10.0,A,2,0.0,12.0,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16.0,C,4+,0.0,8.0,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
263010,1004473,P00041942,M,36-45,1.0,B,3,0.0,5.0,18.0,NaN,3722.0
263011,1004473,P00115142,M,36-45,1.0,B,3,0.0,1.0,8.0,17.0,19253.0
263012,1004473,P00188442,M,36-45,1.0,B,3,0.0,5.0,7.0,NaN,3608.0
263013,1004473,P00119442,M,36-45,1.0,B,3,0.0,5.0,NaN,NaN,3604.0
263014,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# EDA - Exploratory Data Analysis
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263015 entries, 0 to 263014
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     263015 non-null  int64
 1   Product_ID                  263014 non-null  object
 2   Gender                      263014 non-null  object
 3   Age                         263014 non-null  object
 4   Occupation                  263014 non-null  float64
 5   City_Category               263014 non-null  object
 6   Stay_In_Current_City_Years  263014 non-null  object
 7   Marital_Status              263014 non-null  float64
 8   Product_Category_1          263014 non-null  float64
 9   Product_Category_2          181501 non-null  float64
 10  Product_Category_3          80582 non-null   float64
 11  Purchase                    263014 non-null  float64
dtypes: float64(6), int64(1), object(5)
memory usage: 24.1+ MB

In [ ]:
# Check for Null values
df.isnull().sum()

User_ID                            0
Product_ID                         1
Gender                             1
Age                                1
Occupation                         1
City_Category                      1
Stay_In_Current_City_Years         1
Marital_Status                     1
Product_Category_1                 1
Product_Category_2             81514
Product_Category_3            182433
Purchase                           1
dtype: int64

In [ ]:
# Lets replace all Null values in Product category columns to 0 (zero)
df["Product_Category_1"].fillna(0, inplace=True)
df["Product_Category_2"].fillna(0, inplace=True)
df["Product_Category_3"].fillna(0, inplace=True)

In [ ]:
# Check for Null values
df.isnull().sum()

User_ID                       0
Product_ID                    1
Gender                        1
Age                           1
Occupation                    1
City_Category                 1
Stay_In_Current_City_Years    1
Marital_Status                1
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      1
dtype: int64

In [ ]:
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10.0,A,2,0.0,3.0,0.0,0.0,8370.0
1,1000001,P00248942,F,0-17,10.0,A,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10.0,A,2,0.0,12.0,0.0,0.0,1422.0
3,1000001,P00085442,F,0-17,10.0,A,2,0.0,12.0,14.0,0.0,1057.0
4,1000002,P00285442,M,55+,16.0,C,4+,0.0,8.0,0.0,0.0,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
263010,1004473,P00041942,M,36-45,1.0,B,3,0.0,5.0,18.0,0.0,3722.0
263011,1004473,P00115142,M,36-45,1.0,B,3,0.0,1.0,8.0,17.0,19253.0
263012,1004473,P00188442,M,36-45,1.0,B,3,0.0,5.0,7.0,0.0,3608.0
263013,1004473,P00119442,M,36-45,1.0,B,3,0.0,5.0,0.0,0.0,3604.0
263014,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN

In [ ]:
df.dropna(inplace=True) # Drop that 1 remaining null values in most of the column

In [ ]:
df.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

# Label Encoding

We will convert all categorical values to numerical values so those values can be understood by advance test and algorithms.

**Label encoding will use Alphabetical order to assign a numerical value**

**Fruits names**

Apple  =  0

Cherry =   2

Watermelon = 3

Banana =  1



**Gender column**

M = 1

F = 0

In [ ]:
# Old data
df.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10.0,A,2,0.0,3.0,0.0,0.0,8370.0
1,1000001,P00248942,F,0-17,10.0,A,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10.0,A,2,0.0,12.0,0.0,0.0,1422.0
3,1000001,P00085442,F,0-17,10.0,A,2,0.0,12.0,14.0,0.0,1057.0
4,1000002,P00285442,M,55+,16.0,C,4+,0.0,8.0,0.0,0.0,7969.0
5,1000003,P00193542,M,26-35,15.0,A,3,0.0,1.0,2.0,0.0,15227.0
6,1000004,P00184942,M,46-50,7.0,B,2,1.0,1.0,8.0,17.0,19215.0
7,1000004,P00346142,M,46-50,7.0,B,2,1.0,1.0,15.0,0.0,15854.0
8,1000004,P0097242,M,46-50,7.0,B,2,1.0,1.0,16.0,0.0,15686.0
9,1000005,P00274942,M,26-35,20.0,A,1,1.0,8.0,0.0,0.0,7871.0

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()  # Create a object for LabelEncoder like pandas with pd , numpy with np , matplotlib as plt

df["Gender"] = le.fit_transform(df["Gender"])
df["City_Category"] =le.fit_transform(df["City_Category"])
df["Product_ID"] = le.fit_transform(df["Product_ID"])

In [ ]:
# New data
df.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,647,0,0-17,10.0,0,2,0.0,3.0,0.0,0.0,8370.0
1,1000001,2304,0,0-17,10.0,0,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,814,0,0-17,10.0,0,2,0.0,12.0,0.0,0.0,1422.0
3,1000001,790,0,0-17,10.0,0,2,0.0,12.0,14.0,0.0,1057.0
4,1000002,2657,1,55+,16.0,2,4+,0.0,8.0,0.0,0.0,7969.0
5,1000003,1768,1,26-35,15.0,0,3,0.0,1.0,2.0,0.0,15227.0
6,1000004,1684,1,46-50,7.0,1,2,1.0,1.0,8.0,17.0,19215.0
7,1000004,3213,1,46-50,7.0,1,2,1.0,1.0,15.0,0.0,15854.0
8,1000004,3481,1,46-50,7.0,1,2,1.0,1.0,16.0,0.0,15686.0
9,1000005,2554,1,26-35,20.0,0,1,1.0,8.0,0.0,0.0,7871.0

# Analysis

1) Read the probelm statement and preprare sample data accoridngly

2) Create 2 hypothesis , Null hypothesis and Alternate hypothesis

3) Apply the appropriate test ( based on requirements )

4) Compare the p value given by the test

**if p value is less than 0.05 = Accept the Alternate hypothesis**

**if p value is more than 0.05 = Accept the Null hypothesis**

# Question 1


# It was observed that the **average purchase of Gender = Men and Age group = 18-25 was 10,000** is it correct or not ?

In [ ]:
# Without any inferential stats lets check whether average purchase is 10k or not

# Fetch the data where Gender==Male , Age ==18-25
new_data = df[ (df["Gender"]==1) & (df["Age"]=="18-25") ]
# Now find the average purchase amount directly
print("Average purchase amount is :",new_data["Purchase"].mean() )

Average purchase amount is : 9440.512275679841

In [ ]:
# Now lets do the same thing by using Inferential statitis test's

**A one-sample t-test** is a statistical test used to determine whether the mean of a single sample is significantly different from a known or hypothesized population mean.

It helps in testing hypotheses about the average value of a dataset.

**Types of t-tests:**

**One-sample t-test**: Compares the sample mean to a known value (population mean).

**Independent two-sample t-test**: Compares the means of two independent groups.

**Paired sample t-test**: Compares means from the same group at different times (e.g., before and after treatment).

Key Concepts:

Null Hypothesis (H₀): The sample mean is equal to the population mean.

Alternative Hypothesis (H₁): The sample mean is different (greater or less) than the population mean.

In [ ]:
# Prepare a sample of 10% of full data  ,Fetch the data where Gender==Male , Age ==18-25
new_data = df[ (df["Gender"]==1) & (df["Age"]=="18-25") ].sample(3600)

# Lets Create 2 hypothesis
'''
Null hypothesis        = Average purchase is 10,000
Alternate hypothesis  = Average purchase is not 10,000
'''

# Apply the appropriat test that is 1 sample t test
from scipy.stats import ttest_1samp
t_stats , p_value = ttest_1samp( new_data["Purchase"]  , 10000)
print(p_value)
# Compare the p value
'''
if p value is less than 0.05 = Accept the Alternate hypothesis
if p value is more than 0.05 = Accept the Null hypothesis
'''
print("Exact p value is :", f"{p_value:.25f}")  # .25f means upto 25 decimal place fix the value

6.0818390031272336e-15
Exact p value is : 0.0000000000000060818390031

**Our p value is less than 0.05 so that means we accept the Alternate hypothesis ( Average purchase is not 10,000 )**

# Question 2

# It was observed that the percentage of women who spend more than 10,000 is 35% out of all people.

You will use a **one-sample z-tes**t for proportions to compare the observed proportion of women spending more than 10,000 with the hypothesized proportion of 35%.

**Why Use a One-Sample Z-Test for Proportions?**

A z-test for proportions is used when you want to compare an observed sample proportion to a known or hypothesized population proportion.

In [ ]:
# Lets check by using descriptive stats

# Lets check total people who spend more than 10k out of them how much poercent are women
new_data = df[df["Purchase"]>10000]
print(new_data.shape)
# So 91057 people are spending more than 10,000

# Lets find how many of them are women
new_data = df[ (df["Purchase"]>10000) & (df["Gender"]==0) ]
print(new_data.shape)
# so 18685 are women who spend more than 10k

# Lets find the percenatge of women
print("How much % of women spend more than 10k :" , (18685/91057)*100)

(91057, 12)
(18685, 12)
How much % of women spend more than 10k : 20.52011377488826

In [ ]:
# Lets check by using Inferential  stats

# Lets check total people who spend more than 10k out of them how much poercent are women
#total_people = df[df["Purchase"]>10000]
total_people=91057

# Lets find how many of them are women
#women_count = df[ (df["Purchase"]>10000) & (df["Gender"]==0) ]
women_count=18685
# Hypothesis value
p0 = 0.35

from statsmodels.stats.proportion import proportions_ztest
z_stats , p_value = proportions_ztest ( count =women_count  , nobs=total_people , value =p0  )
print(p_value)
# Compare the p value
'''
if p value is less than 0.05 = Accept the Alternate hypothesis ( That count of women who spend more than 10k is not 35%)
if p value is more than 0.05 = Accept the Null hypothesis ( That count of women who spend more than 10k is 35%)
'''
print("Exact p value is :", f"{p_value:.25f}")  # .25f means upto 25 decimal place fix the value

0.0
Exact p value is : 0.0000000000000000000000000

# Question 3

# Is the percentage of Men who spend more than 10,00 is same for age group 18-25 and age group 26-35

In [ ]:
# First find total men who spend mor than 10k
# Then find percentage of men of age 18-25 who spend more than 10k
# Then find percentage of men of age 26-35 who spend more than 10k
# Then check whether they are same or not !!!!!!!!

In [ ]:
# Descriptive Stats
#total_men = df[ (df["Gender"]==1) & (df["Purchase"]>10000)]
total_men = 72372

#total_men_18_25 = df[ (df["Gender"]==1) & (df["Purchase"]>10000) & (df["Age"]=="18-25")]
total_men_18_25 = 13325
print("Percentage of men age group 18-25 who spend more than 10k :" , (13325/72373)*100)

#total_men_26_35 = df[ (df["Gender"]==1) & (df["Purchase"]>10000) & (df["Age"]=="26-35")]
total_men_26_35 = 29520
print("Percentage of men age group 26-35 who spend more than 10k :" , (29520/72373)*100)

Percentage of men age group 18-25 who spend more than 10k : 18.411562322965747
Percentage of men age group 26-35 who spend more than 10k : 40.788691915493345

In [ ]:
# Inferential Stats

from statsmodels.stats.proportion import proportions_ztest

df_male = df[df['Gender'] == 1]   # 1 = Male
df_male['High_Spend'] = df_male['Purchase'] > 10000

age_18_25 = df_male[df_male['Age'] == '18-25']
age_26_35 = df_male[df_male['Age'] == '26-35']


count = [age_18_25['High_Spend'].sum(),age_26_35['High_Spend'].sum()]
nobs = [len(age_18_25),len(age_26_35)]

z_stat, p_value = proportions_ztest(count, nobs)
'''
if p value is less than 0.05 = Accept the Alternate hypothesis ( Percentages are SAME.)
if p value is more than 0.05 = Accept the Null hypothesis ( Percentages are DIFFERENT)
'''
print("P-Value:", p_value)

P-Value: 0.46485737076746403

# Question 4

# Is the average purcahse made by Men and Women of age 18-25 are same or not ?

In [ ]:
# Descriptive stats
men_data = df[(df["Gender"]==1) & (df["Age"]=="18-25") ]
print("Average purchase of men of age 18-25 is :",men_data["Purchase"].mean() )

women_data = df[(df["Gender"]==0) & (df["Age"]=="18-25") ]
print("Average purchase of women of age 18-25 is :",women_data["Purchase"].mean() )

Average purchase of men of age 18-25 is : 9440.512275679841
Average purchase of women of age 18-25 is : 8406.001601888542

In [ ]:
# Inferential stats - Homework !!!